{% extends "site/base/site.base.tmpl" %}
     {% block content %}
       <div class="row" style="text-align: center">
         <div class="col"><br><br>
             <form action="" method="post" class="form-signin">
                 <h1 class="h3 mb-3 font-weight-normal">Регистрация</h1>
                 <label for="inputName" class="sr-only">Ваше имя</label>
                 <input type="text" name="name" id="inputName" class="form-control" placeholder="Ваше имя" required autofocus>
                 <label for="inputEmail" class="sr-only">Е-майл</label>
                 <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Е-майл" required autofocus>
                 <label for="inputPassword" class="sr-only">Пароль</label>
                 <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Пароль" required>
                 <button class="btn btn-lg btn-info btn-block" type="submit" name="submit">Зарегистрироваться</button>
             </form>
             {% if errors %}
                 <h2>{{ errors }}</h2>
             {% endif %}
             {% if result %}
             <h2>Поздравляем!</h2><h2>Вы зарегистрированы!</h2>
             {% endif %}
         </div>
       </div>
     {% endblock %}