     {% block adminmenu %}
         <div class="list-group">
             <div class="list-group-item list-group-item-primary"><strong>Управление</strong></div>
             <a href="/admin/product" class="list-group-item list-group-item-action">Товары</a>
             <a href="#" class="list-group-item list-group-item-action">Категории</a>
             <a href="#" class="list-group-item list-group-item-action">Заказы</a>
             <a href="#" class="list-group-item list-group-item-action">Пользователи</a>
         </div>
     {% endblock %}