{% extends "admin/base/admin.base.tmpl" %}
     {% block content %}
         <div style="margin-top: 20px; text-align: left">
             <h1 class="h2">Главная панель</h1>
             <hr>
         </div>
     {% endblock %}