{% extends "site/base/site.base.tmpl" %}
     {% block content %}
         <div class="d-flex bd-highlight mb-3" style="margin-top: 20px">
             <div class="mr-auto bd-highlight"><h5>Добро пожаловать! {{ user.name }}</h5></div>
             <div class="bd-highlight"><a class="btn btn-success" href="/user/logout">Выйти</a></div>
         </div><hr>
         <div class="row">
             <div class="col-sm-8">
                 <h5 style="text-align: left; margin-bottom: 30px">Мои заказы</h5>
                 <table class="table table-hover">
                     <thead class="thead-dark">
                     <tr>
                         <th scope="col" style="text-align: center; max-width: 400px">ID</th>
                         <th scope="col" style="text-align: center">Дата</th>
                         <th scope="col" style="text-align: center">Сумма</th>
                         <th scope="col" style="text-align: center">Посмотреть</th>
                     </tr>
                     </thead>
                     <tbody>


                         <tr>
                             <td align="center" style="max-width: 300px"></td>
                             <td align="center"></td>
                             <td align="center"></td>
                             <td align="center"></td>
                         </tr>

                     </tbody>
                 </table>
             </div>
             <div class="col-sm-4">
                 <h5 style="text-align: left; margin-bottom: 30px">Вы смотрели</h5>
                 <table class="table table-hover">
                     <thead class="thead-dark">
                     <tr>
                         <th scope="col" style="text-align: left; max-width: 400px">Название</th>
                         <th scope="col" style="text-align: right">Цена</th>
                     </tr>
                     </thead>
                     <tbody>
                     {% for lastViewedProduct in lastViewedProduct %}
                     <tr>
                         <td align="left" style="max-width: 300px"><a href="/catalog/product/{{ lastViewedProduct.id }}">{{ lastViewedProduct.name }}</a></td>
                         <td align="right">{{ lastViewedProduct.price }}</td>
                     </tr>
                     {% endfor %}

                     </tbody>
                 </table>
             </div>
         </div>

     {% endblock %}