{% extends "base/news.base.tmpl" %}

   {% block content %}

       <h1 class="my-4">NEWS</h1>

            {% for newsItem in newsList %}

                  <div class="card mb-4">
                    <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                    <div class="card-body">
                      <h2 class="card-title">{{ newsItem.title }}</h2>
                      <p class="card-text">{{ newsItem.short_content }}</p>
                      <a href="news/{{ newsItem.id }}" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                      Posted on {{ newsItem.date }}
                      <a href="#">{{ newsItem.author_name }}</a>
                    </div>
                  </div>

            {% endfor %}
  {% endblock %}